.navbar_link{ color:rgb(92, 90, 90); 
    text-decoration: none;
    margin-left: 20pt;
     }
h1 { font-family:'Broadway'; 
    position:relative; top: 0; 
    height: 8pt;}
.navbar { background-color:rgb(191, 231, 233);
    padding-left: 10pt; position: absolute; 
    width: 13.195in;top: 0%;left: 0%;
    border-bottom: 1pt black solid;
    }
.hover:hover{ transform: scale(1.1); cursor: pointer;}
p{ font-family: 'Comic Sans MS'; font-weight: bolder; font-size: larger; }
.text_input:hover{ background-color: rgb(255, 236, 236); }
.text_input:focus{outline: 0;}
.text_input{ margin-left: 0.3in; }
.button1{ transition-duration: 0.4s; }
.button1:hover{ cursor: pointer; }
.button1:active{ transform: scale(0.9); }
