<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>MY RESUME</title>
    <link rel="stylesheet" href="resume.css">
</head>
<body style="border-width: 0pt;">
    
    <div class="fst">
       <img src="2cbebbf6ae848a920bc7a4ea4cfd0dae.jpg" alt="hey">
        <p>Phone No. : 7851946847 &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;  Email : sauravchaudhary3105@gmail.com</p>
    </div>   
    <h2>Shinchan Nohara</h2> 
    <div class="snd">
        <h3>Qualifications</h3>
        <ul type="circle">
            <li>Python</li>
            <li>Django</li>
            <li>C++</li>
        </ul>
        <hr>
        <h3>Goals</h3>
        <ul type="circle">
            <li>----------</li>
            <li>----------</li>
            <li>----------</li>
            <li>----------</li>
        </ul>
        <hr>
        <h3>Languages</h3>
        <ul type="circle">
            <li>English</li>
            <li>German</li>
            <li>Spanish</li>
        </ul>
        <hr>
        <h3>Education</h3>
        <dl>
            <dd>SLIET</dd>
        <dt>Bachelor of engineering</dt>
       
        </dl>
    </div>
        
    
</body>
</html>